<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class = "ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder = "Title" value = "<%= blog.title %>">
        </div>
        <div class = "field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder = "Img URL"value="<%= blog.image %>">
        </div>
        <div class = "field">
            <label>Blog Content</label>
            <textarea name = "blog[body]" placeholder="Blog Content" required><%= blog.body %></textarea>
        </div>
        <input type="submit" class = "ui blue basic button">
    </form>
</div>
<% include ./partials/footer %>