<% include ../partials/header.ejs %>
<header class = "jumbotron">
    <div class = "container">
        <h1>Welcome to YelpCamp!</h1>
        <p>View the best campgrounds from all over the globe!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
        </p>
        <p>
            <form class="form-inline" action="/campgrounds" method="GET">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder ="Campground search ...">
                    <input class="btn btn-default" type="submit" value="Search">
                </div>
            </form>
        </p>
    </div>
</header>

<div class = "row text-center" style = "display:flex; flex-wrap: wrap;">
    <div class="col-md-12">
        <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
        <% } %>
    </div>
    <% campgrounds.forEach(function(campground){ %>
        <div class = "col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img src=" <%= campground.image %>">
                <div class = "caption">
                    <h4><%= campground.name; %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div> 
        </div>
    <% }); %>
</div>
<div class="row text-center">
    <% if (pages && pages > 0) { %>
    <ul class="pagination text-center">
        <% if (currentPage == 1) { %>
            <li class="disabled"><a>First</a></li>
        <% } else { %>
            <li><a href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
        <% } %>
    
        <% if (currentPage == 1) { %>
            <li class="disabled"><a>«</a></li>
        <% } else { %>
            <li><a href="/campgrounds?page=<%= Number(currentPage) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
        <% } %>
    
        <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++) { %>
        <% if (i == currentPage) { %>
            <li class="active"><a><%= i %></a></li>
        <% } else { %>
            <li><a href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(currentPage) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% } %>
    
        <% if (currentPage == pages) { %>
            <li class="disabled"><a>»</a></li>
        <% } else { %>
            <li><a href="/campgrounds?page=<%= Number(currentPage) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
        <% } %>
    
        <% if (currentPage == pages) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</div>
<% include ../partials/footer.ejs %>