<%include ../partials/header.ejs %>
<h1 style="text-align: center">User's EDIT Route</h1>
<div style ="width: 30%; margin: 25px auto;">
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <input type="text" class = "form-control" name="user[username]" placeholder="Username" value="<%= user.username %>" readonly>
        </div>
        <div class="form-group">
            <input type="password" class = "form-control" name="user[password]" placeholder="Password" >
        </div>
        <div class="form-group">
            <input type="text" class = "form-control" name="user[firstName]" placeholder="First Name" value = "<%= user.firstName %>">
        </div>
        <div class="form-group">
            <input type="text" class = "form-control" name="user[lastName]" placeholder="Last Name" value = "<%= user.lastName %>">
        </div>
        <div class="form-group">
            <input type="email" class = "form-control" name="user[email]" placeholder="Email" value = "<%= user.email %>">
        </div>
        <div class="form-group">
            <input type="text" class = "form-control" name="user[avatar]" placeholder="Avatar Url" value ="<%= user.avatar %>">
        </div>
        <div class="form-group">
            <button class = "btn btn-primary btn-block">Update!</button>
        </div>
    </form>
    <a href="/users/<%= user._id %>">Go Back</a>
</div>
<%include ../partials/footer.ejs %>